@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    border: solid red 1px;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

img {
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-weight: 900;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.right-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 100;
}

.right-links ul {
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
}

